# General
numpy
Pillow

# ML
torchvision
diffusers>=0.29.0
transformers>=4.35.2
accelerate
compel
peft

# ONNX & TensorRT
tensorrt
polygraphy
onnx
onnxruntime-gpu
onnx_graphsurgeon
cuda-python
protobuf
colored
